:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Mediam */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Special Header */
.special-header {
  font-size: 100px;
  text-align: center;
  color: #ece6e6;
  margin: 0px;
  padding-top: 10px;
}
.special-header + p {
  margin: -30px 0 0 0;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-header {
    font-size: 60px;
  }
  .special-header + p {
    margin: -20px 0px 0px 0px;
  }
}

/* End Special Header */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 60px;
}
.header .container .links {
  position: relative;
}
.header .container .links .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .container .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .container .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .container .links ul li a:hover {
  padding-left: 25px;
  color: var(--main-color);
}
.header .container .links ul li:not(:last-child) a {
  border-bottom: solid 1px #ddd;
}

.header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .container .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .container .links .icon span:first-child {
  width: 100%;
}
.header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .container .links .icon span:last-child {
  width: 100%;
}
/* End Header */
/* Start Landing Section  */
.landing {
  background-image: url(../images/Landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing Section  */
/* Start Features Section */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}
.features .container .feat {
  /* width: 320px;
  max-width: 100%; */
  padding: 20px;
  text-align: center;
}
.features .container .feat i {
  color: var(--main-color);
  font-size: 40px;
}
.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .container .feat p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
/* Start Services Section  */
.services .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .service-content .srv {
  margin-bottom: 40px;
  display: flex;
}
.services .service-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .service-content .srv .text{
  flex: 1;
}
.services .service-content .srv h3 {
 
}
.services .service-content .srv p {

}

@media (max-width: 767px) {
  .services .service-content .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .service-content .srv .image-service .image{
    
  }
}
/* End Services Section  */



































